<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>影院热映大片_热映电影票房_高清电影影视大全-猫眼电影(高仿)</title>
    <link rel="icon" href="/favicon/favicon.ico" type="image/x-icon">
    <meta name="description" content="猫眼电影为您提供热映电影大片选座购票服务，以及对热映电影评分、评价等信息介绍。更多热映电影选座购票信息请关注猫眼电影官网。">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/cinemas.css">
</head>

<body>
    <!-- Header导航 -->
    <%-include('./template/Header.html',{menuIndex,Header,user})%>
        <div class="header-placeholder"></div>
        <div class='banner'>
            <div class='wrapper clearfix'>
                <div class='celeInfo-left'>
                    <div class='avatar-shadow'>
                        <img class="avatar" src="<%=movie.image%>" alt="<%=movie.name%>">
                        <div class='movie-ver'>
                            <% if(movie.mType===1){%>
                                <i class='m3d'></i>
                                <%}else if(movie.mType===2){%>
                                    <i class='imax3d'></i>
                                    <%}else if(movie.mType===3){%>
                                        <i class='imax2d'></i>
                                        <%}else{%>
                                            <i></i>
                                            <%}%>
                        </div>
                    </div>
                </div>
                <div class='celeInfo-right clearfix'>
                    <div class='movie-brief-container'>
                        <h1 class='name'>
                            <%=movie.name%>
                        </h1>
                        <div class="ename ellipsis">
                            <%=movie.enName%>
                        </div>
                        <ul>
                            <li class="ellipsis">
                                <%for(let i=0;i<movie.typelist.length;i++){%>
                                    <a class="text-link" href="/films?catId=<%=movie.typelist[i].id%>" target="_blank">
                                        <%=movie.typelist[i].type%>
                                    </a>
                                    <%}%>
                            </li>
                            <li class="ellipsis">
                                <%=movie.cname%>
                                    / <%=movie.times%>
                            </li>
                            <li class="ellipsis">
                                <%=new Date(movie.uptimes).toLocaleString()%>/<%=movie.upaddress%>
                            </li>
                        </ul>
                    </div>
                    <div class='action-buyBtn'>
                        <div class="action clearfix">
                            <a class="wish ">
                                <div>
                                    <i class="icon wish-icon"></i>
                                    <span class="wish-msg" data-act="wish-click">想看</span>
                                </div>
                            </a>
                            <a class="score-btn ">
                                <div>
                                    <i class="icon score-btn-icon"></i>
                                    <span class="score-btn-msg">
                                        评分
                                    </span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class='movie-stats-container'>
                        <div class="movie-index">
                            <p class="movie-index-title">猫眼口碑</p>
                            <div class="movie-index-content score normal-score">
                                <span class="index-left info-num ">
                                    <span class="stonefont">
                                        <%=movie.score%>
                                    </span>
                                </span>
                                <div class="index-right">
                                    <div class="star-wrapper">
                                        <div class="star-on" style="width:<%=(movie.score/10*100)%>%;"></div>
                                    </div>
                                    <span class="score-num"><span class="stonefont">1230</span>人评分</span>
                                </div>
                            </div>
                        </div>
                        <div class="movie-index">
                            <p class="movie-index-title">累计票房</p>
                            <div class="movie-index-content box">
                                <span class="stonefont">
                                    <%=movie.totlemoney /10000%>
                                </span><span class="unit">万</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="show-list  active">
            <div class="show-date">
                <span>观影时间 :</span>
                <%for(let i=0;i<fullDate.length;i++){%>
                    <%if(i==0){%>
                    <span class="date-item active" data-index="0"><%=fullDate[i].txt%> <%=fullDate[i].name%></span>
                    <%}else{%>
                    <span class="date-item" data-index="1"><%=fullDate[i].txt%> <%=fullDate[i].name%></span>
                    <%}%>
                <%}%>
            </div>
            <%for(let i=0;i<fullDate.length;i++){%>
                <div class="plist-container <%=i==0?'active':''%>">
                    <table class='plist'>
                        <thead>
                            <tr>
                                <th>放映时间</th>
                                <th>语言版本</th>
                                <th>放映厅</th>
                                <th>售价（元）</th>
                                <th>选座购票</th>
                            </tr>
                        </thead>
                        <%for(let k=0;k<chang[i].length;k++){%>
                            <%if(k%2==0){%>
                                <tr class="">
                                    <td>
                                        <span class="begin-time"><%=new Date(chang[i][k].start).toLocaleTimeString()%></span>
                                        <br>
                                        <span class="end-time"><%=new Date(chang[i][k].end).toLocaleTimeString()%>散场</span>
                                    </td>
                                    <td>
                                        <span class="lang"><%=chang[i][k].langulage%></span>
                                    </td>
                                    <td>
                                        <span class="hall"><%=chang[i][k].name%></span>
                                    </td>
                                    <td>
                                        <span class="sell-price"><span class="stonefont"><%=chang[i][k].price%></span></span>
                                    </td>
                                    <td>
                                        <a href="/xseats/?movieId=<%=chang[i][k].movieid%>&cinemaId=<%=chang[i][k].id%>&&cid=<%=chang[i][k].cid%>" class="buy-btn normal"
                                            >选座购票</a>
                                    </td>
                                </tr>
                            <%}else{%>
                                <tr class="even">
                                    <td>
                                        <span class="begin-time"><%=new Date(chang[i][k].start).toLocaleTimeString()%></span>
                                        <br>
                                        <span class="end-time"><%=new Date(chang[i][k].end).toLocaleTimeString()%>散场</span>
                                    </td>
                                    <td>
                                        <span class="lang"><%=chang[i][k].langulage%></span>
                                    </td>
                                    <td>
                                        <span class="hall"><%=chang[i][k].name%></span>
                                    </td>
                                    <td>
                                        <span class="sell-price"><span class="stonefont"><%=chang[i][k].price%></span></span>
                                    </td>
                                    <td>
                                        <a href="/xseats/?movieId=<%=chang[i][k].movieid%>&cinemaId=<%=chang[i][k].id%>&&cid=<%=chang[i][k].cid%>" class="buy-btn normal"
                                            >选座购票</a>
                                    </td>
                                </tr>
                            <%}%>
                        <%}%>
                    </table>
                </div>
            <%}%>
        </div>
        <!-- 底部导航 -->
        <%-include('./template/Footer.html')%>
            <script src='/js/jquery-1.9.1.min.js'></script>
            <script>
                $(function () {
                    $('.date-item').each(function (index) {
                        $(this).click(function () {
                            $(this).addClass("active").siblings('.date-item').removeClass('active');
                            $('.plist-container').eq(index).addClass("active").siblings('.plist-container').removeClass('active');
                        });
                    });
                });
            </script>
</body>

</html>