<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>影院热映大片_热映电影票房_高清电影影视大全-猫眼电影(高仿)</title>
    <link rel="icon" href="/favicon/favicon.ico" type="image/x-icon">
    <meta name="description" content="猫眼电影为您提供热映电影大片选座购票服务，以及对热映电影评分、评价等信息介绍。更多热映电影选座购票信息请关注猫眼电影官网。">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <header class="header cf">
        <a class="site-logo" href="/">猫眼电影</a>
    </header>
    <div class='site-body-wrapper'>
        <div class='site-body cf'>
            <div class="promotion-banner">
                <img src="//s0.meituan.net/bs/file/?f=fe-sso-fs:build/page/static/banner/maoyan.png" width="480"
                    height="370" alt="猫眼电影">
            </div>
            <div class='login-section'>
                <form action='/login/userlogin' method="POST">
                    <div class="form-field form-field--icon phone-input-wrapper">
                        <input type="text" id="loginid" class="f-text phone-input" name="id" placeholder="账号"
                            value="" maxlength="15">
                    </div>
                    <div class="form-field form-field--icon phone-input-wrapper">
                        <input type="text" id="loginpwd" class="f-text phone-input" name="pwd" placeholder="密码"
                            value="" maxlength="15">
                    </div>
                    <div>
                        <input  type="submit" class="btn" name="commit" value="登录">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="copyright">
            <p>
                ©<span>2021</span>
                <a href="https://www.meituan.com">美团网团购</a>
                meituan.com
                <a href="http://www.miibeian.gov.cn/" target="_blank">京ICP证&&**&&1号</a>
                京公网安备11010*****545号
            </p>
        </div>
    </footer>
</body>

</html>